$primaryColor: #4527a4;

.wp-block-b-blocks-wide-image-viewer {
  box-sizing: border-box;

  .hero-section-container {
    position: relative;
  }

  .panorama {
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    position: relative;
    img {
      height: 100%;
      width: auto;
    }
  }

  .hero-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    width: 100%;
    height: 100%;
    z-index: 2;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
  }

  .hero-content h3 {
    font-family: sans-serif;
    padding-bottom: 22px;
    width: 60%;
    margin: 0 auto;
  }

  .hero-content h5 {
    font-family: sans-serif;
    line-height: 1.6;
    width: 60%;
    margin: 0 auto;
  }

  .hero-content {
    position: absolute;
    width: 100%;
    top: 25%;
    left: 0%;
  }

  @media screen and (max-width: "640px") {
    .panorama {
      overflow-x: scroll;
    }
  }

  * {
    box-sizing: border-box;
  }

  .icon {
    font-style: inherit;
  }
}
