$primaryColor: #4527a4;

.wp-block-b-blocks-wide-image-viewer {
  box-sizing: border-box;

  .panorama {
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    img {
      height: 100%;
      width: auto;
    }
  }

  @media screen and (max-width: "640px") {
    .panorama {
      overflow-x: scroll;
    }
  }

  * {
    box-sizing: border-box;
  }

  .bBlocksTestPurpose {
    p {
      padding: 10px;
      border-radius: 10px;
    }
  }

  .icon {
    font-style: inherit;
  }
}
